*{
    background-color: rgb(224, 230, 231);
}

.content{
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
}

/*homepage*/
.home-title{
    font-size: 72px; 
    font-weight: bold;
    color: #264ebb; 
    text-align: center;
    text-shadow: 2px 2px 4px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgb(132, 206, 248),  rgb(224, 230, 231));
}

.saved-title {
    color: #264ebb; 
    font-size: 35px;
    text-align: center;
}

.new{
    margin: auto;
    text-align: center;
}

.new button{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #254bb4;
    border: 2px solid #a9b9aa;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.new button:hover {
    background-color: #3b58a8;
    border-color: #13728f;
}
  
.new button:active {
    background-color: #443984;
    border-color: #727aa0;
}

.recipe-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom:1px lightgray ;
}

.recipe-preview a{
    text-decoration: none;
}

.recipe-preview:hover{
    box-shadow: 1px 3px 5px black;
}
  
.recipe-preview h2{
    font-size: 20px;
    color: red;
}

/*view in details*/
.view-recipe-container {
    background-color: #f7efef;
    padding: 20px; 
    box-shadow: 1px 3px 5px black;
}

.view-recipe h1{
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: center; 
}

.view-recipe h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    padding-top: 20px;
}

.view-recipe p {
    white-space: pre-wrap;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 500; 
}

.view-recipe li {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500; 
}

.button-container{
    text-align: center;
}

.recipe-edit,
.recipe-delete {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s ease;
  
}

.recipe-edit:hover,
.recipe-delete:hover {
  background-color: #45a049; /* Darker Green */
}

/* Delete Button */
.recipe-delete {
  background-color: #f44336; /* Red */
}

.recipe-delete:hover {
  background-color: #d32f2f; /* Darker Red */
}

/*add form*/
.recipe-container {
    background-color: #f0f0f0; /* Light gray */
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 600px;
    align-items: center;
    border: 2px solid #acb4ac;

}

.recipe-container h2{
    background-color: #f0f0f0;
    color: #264ebb; 
    font-size: 35px;
    text-align: center;
}
  

.recipe-form{
    padding: 50px;
    padding-top: 10px;
}

.recipe-form label{
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    display: block; 
}

.recipe-name-input{
    width: 500px;
    height: 30px;
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.recipe-ingredients-input{
    width: 500px;
    height: 170px;
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.recipe-steps-input{
    width: 500px;
    display: block;
    height: 170px;
    width: 100%;
    padding: 8px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.recipe-form button{
    display: block;
    margin: auto;  
    margin-top: 20px;  
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.recipe-form button:hover{
    background-color: #4ea55c;
    border-color: #afdae7;
    color: white;
}

.return-home{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #254bb4;
    border: 2px solid #a9b9aa;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.return-home:hover {
    background-color: #3b58a8;
    border-color: #13728f;
    color: black;
}
  
.return-home:active {
    background-color: #443984;
    border-color: #727aa0;
    color: black;
}