*{
    background-color: rgb(224, 230, 231);
}

.content{
    max-width: 600px;
    margin: 40px auto;
    padding: 10px;
}

/*homepage*/
.home-title{
    font-size: 72px; 
    font-weight: bold;
    color: #264ebb; 
    text-align: center;
    text-shadow: 2px 2px 4px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgb(132, 206, 248),  rgb(224, 230, 231));
}

.saved-title {
    color: #264ebb; 
    font-size: 35px;
    text-align: left;
}

.new{
    margin: auto;
    text-align: center;
}

.new button{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #254bb4;
    border: 2px solid #a9b9aa;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.new button:hover {
    background-color: #3b58a8;
    border-color: #13728f;
}
  
.new button:active {
    background-color: #443984;
    border-color: #727aa0;
}

.recipe-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom:1px lightgray ;
}

.recipe-preview a{
    text-decoration: none;
}

.recipe-preview:hover{
    box-shadow: 1px 3px 5px black;
}
  
.recipe-preview h2{
    font-size: 20px;
    color: red;
}

/*view in details*/
.recipe-name{
    color: green;
}

.recipe-ingredients{
    color: purple;
    font-size: 30px;
}

.recipe-steps{
    color: gray;
    font-size: 50px;
}

.recipe-delete{
    color: blue;
    background-color: brown;
}

.recipe-edit{
    color: black;
    background-color: yellow;
}

/*add form*/
.create h2{
    font-size: 10px;
}

.recipe-form{
    background-color: teal;
}

.recipe-name-label {
    font-size: 24px;
    display: block;
}

.recipe-name-input{
    width: 500px;
}

.recipe-ingredients-label {
    font-size: 24px;
    display: block;
}

.recipe-ingredients-input{
    width: 500px;
}

.recipe-steps-label {
    font-size: 24px;
    display: block;
}

.recipe-steps-input{
    width: 500px;
}


